/* meta */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

main{
    margin: 50px auto 150px auto;
}


h1, .h1{
    font-size: 64px;
    padding: 60px 0 20px 0;
    color: #fff;
}

h2, .h2{
    font-size: 36px;
}

h3, .h3{
    font-size: 18px;
}

h4, .h4{
    font-size: 12px;
    font-weight: 100;
}

li{
    list-style-type: none;
}

.center{
    margin: 0 auto;
    width: 1024px;
}

.zero_mar{
    margin: 0;
}

.zero_pad{
    padding: 0;
}

.clear{
    clear: both;
}

/* fin meta */

/* header */
.blue_background{
    background-color: rgb(177, 194, 237);
    height: 220px;
    margin: 0;
}

.h2_header{
    padding: 0 0 20px 0;
    color: rgb(23, 50, 143);
}

.nav_background{
    background-color: rgb(156, 107, 107);
    height: 50px;
}

.nav{
    font-size: 18px;
    padding: 12px 0 12px 0;
}

.nav > li{
    display: inline-block;
}

.nav > li:first-child{
    max-width: 81.0833px;
    padding-right: 10px;
}

.nav > li > a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;

}

.nav > li > a:hover{
    text-decoration: underline;
    color: rgb(65, 1, 1);
    font-weight: 900;
}
/* fin header */

/* body index */
.flower{
    display: block;
    padding: 40px 0 30px 0;
}

.main_titrebg{
    background-color: rgb(196, 196, 196);
    padding: 20px 30px 20px 15px;
    width: 725px;
    height: 430px;
    float: left;
}

.main_titrebg > footer > a{
    display: block;
    padding: 13px 0;
    color: black;
    font-size: 12px;
    text-align: right;
    text-decoration: underline;
    font-weight: 800;
}

.main_navcat{
    float: right;
    width: 240px;
}

.main_navcat > header > h3{
    text-align: center;
    margin: 15px 0;
    font-size: 24px;
}

.main_navcat > nav{
    background-color: rgb(185, 103, 103);
    height: 413px;
}

.main_navcat > nav > ul{
    padding: 15px;
    margin: 0;
}

.main_navcat > nav > ul > li{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 2px 0 0 0;
}

.main_navcat_sousitem{
    padding: 2px 0 0 15px;
}

.main_meilleur{
    padding-top: 23px;
}

.main_meilleursbloc_l{
    background-color: rgb(196, 196, 196);
    width: 280px;
    height: 270px;
    float: left;
}

.main_meilleursbloctext{
    background-color: rgb(196, 196, 196);
    width: 475px;
    height: 190px;
    float: left;
    margin-left: 15px;
}

.main_meilleursbloctext > header > h3{
    text-align: center;
    font-weight: 900;
    margin: 20px 0 15px 0;
}

.main_meilleursbloctext > article > p{
    padding: 0 10px;
}

.main_meilleursbloc_r{
    background-color: rgb(196, 196, 196);
    width: 240px;
    height: 270px;
    float: right;
}
/* fin body index */

/* body nospokemon */
.nospokemons_wrapper{
    padding-top: 30PX ;
}

.nospokemons_img{
    height: 290px;
    float: left;
}

.nospokemons_greybg{
    background-color: rgb(196, 196, 196);
    height: 245px;
    width: 699px;
    padding: 25px 20px 20px 35px;
    float: right;
}

.nospokemons_greybg > header > h2{
    float: left;
    padding-right: 10px;
}

.nospokemons_element{
    padding-top: 23px;
}

.nospokemons_greybg > article > h4{
    margin: 10px 0;
}
/* .nospokemons_element > b{
    font-weight: 900;
} */
/* fin body nospokemon */


/* footer */
.footer{
    background-color: rgb(137, 137, 137);
    height: 125px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

h6{
    text-align: center;
    font-size: 12px;
    padding: 55px 0 55px 0;
}
/* fin footer */